global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http-in
    bind *:80
    http-response set-header Server "Apache/2.4.49 (Ubuntu)"
    default_backend emr_http

backend emr_http
    server web 127.0.0.1:8080

frontend https-in
    bind *:443
    mode tcp
    default_backend emr_https

backend emr_https
    mode tcp
    server webssl 127.0.0.1:8443
